<!DOCTYPE html>
<html lang="FI">
<head>
  <title>Approve</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
</head>
<body>
  <div class="header">
    <h1>JK Invoicing Web Application</h1>
  </div>
  <nav>
    <ul>
      <li><a href="/new_customer">Luo uusi asiakas</a></li>
      <li><a href="/customer_register">Asiakasrekisteri</a></li>
      <li><a href="/new_product">Luo uusi tuote/palvelu</a></li>
      <li><a href="/product_register">Tuoterekisteri</a></li>
      <li><a href="/new_invoice">Luo uusi lasku</a></li>
      <li><a href="/invoice_archive">Laskuarkisto</a></li>
      <li><a href="/to_do_list">To Do List</a></li>
      <li><a href="/send_message">Lähetä viesti</a></li>
      <li><a href="/">Etusivulle</a></li>
      <li><a href="/logout">Kirjaudu ulos</a></li>
    </ul>
  </nav>
  <div class="content">
    <p>{{ message }}</p>
</body>
</html>