<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>customer_register</title>
  </head>
  <body>
    <h1>Asiakasrekisteri</h1>
    <p>Sivustot ovat vielä kehitteillä.</p>
    <p>Täällä voit katsella asiakkaitasi!</p>
    <p>Sinulla on {{ count }} asiakasta.</p>
    <hr>
    {% for customer in customers_register %}
    <i>Asiakkaan nimi:</i> {{ customer[0] }}
    <p><i>Osoite:</i> {{ customer[1] }}</p>
    <p><i>Puhelinnumero:</i> {{ customer[2] }}</p>
    <p><i>Y-tunnus:</i> {{ customer[3] }}</p>
    <hr>
    {% endfor %}
    <p>Jos haluat luoda uuden asiakkaan tai siirtyä etusivulle, siirry tästä:</p>
    <nav><a href="/new_customer">Uusi asiakas</a></nav>
    <nav><a href="/">Etusivulle</a></nav>
  </body> 
</html> 