<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>customer_register</title>
  </head>
  <body>
    <h1>Asiakasrekisteri</h1>
    {% if session.user_id %}
    <p>Sivustot ovat vielä kehitteillä.</p>
    <p>Täällä voit katsella asiakkaitasi!</p>
    <p>Olet kirjautunut sisään nimellä {{ session.username }}.</p>
    <p>Sinulla on {{ count }} asiakasta.</p>
    <hr>
    {% for customer in customers_register %}
    <p><i>ID:</i> {{ customer[0] }}</p>
    <p><i>Asiakkaan nimi:</i> {{ customer[1] }}</p>
    <p><i>Osoite:</i> {{ customer[2] }}</p>
    <p><i>Puhelinnumero:</i> {{ customer[3] }}</p>
    <p><i>Y-tunnus:</i> {{ customer[4] }}</p>
    <hr>
    {% endfor %}
    <p>Jos haluat luoda uuden asiakkaan paina tästä: <nav><a href="/new_customer">Uusi asiakas</a></nav></p>
    <p>Jos haluat poistaa asiakkaan paina tästä: <nav><a href="/remove_customer">Poista asiakas</a></nav></p>
    <p>Jos haluat etusivulle paina tästä: <nav><a href="/">Etusivulle</a></nav></p>
    {% else %}
    <h1>Tervetuloa JK laskutussovellukseen!</h1>
    <p>Sinulla ei ole oikeutta tälle sivulle, kirjaudu sisään tai luo uusi käyttäjätunnus.</p>
    <a href="/login">Kirjaudu sisään tästä</a>
    <a href="/register">Luo uusi tunnus tästä</a>
    {% endif %}
  </body> 
</html> 

