<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Frontpage</title>
  </head>
  <body>
    {% if session.user_id %}
    <p>Olet kirjautunut sisään nimellä {{ session.username }}.</p>
    <p>Mitä haluat tehdä? Valitse toiminto alta.</p>
    <a href="/new_customer">Luo uusi asiakas</a>
    <a href="/customer_register">Asiakasrekisteri</a>
    <a href="/new_product">Luo uusi tuote/palvelu</a>
    <a href="/product_register">Tuoterekisteri</a>
    <a href="/logout">Kirjaudu ulos</a>
    {% else %}
    <h1>Tervetuloa JK laskutussovellukseen!</h1>
    <p>Sivustot ovat vielä kehitteillä.</p>
    <p>Tämä sivu on latautunut {{ counter }}. kertaa.</p>
    <a href="/login">Kirjaudu sisään tai luo uusi tunnus tästä</a>
    {% endif %}
  </body> 
</html> 