<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Frontpage</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
  </head>
  <body>
    {% if session.user_id %}
    <h1>Tervetuloa JK laskutussovellukseen!</h1>
    <p>Sivustot ovat vielä kehitteillä.</p>
    <p>Olet kirjautunut sisään nimellä {{ session.username }}.</p>
    <p>Mitä haluat tehdä? Valitse toiminto alta. Kaikki toiminnot eivät ole vielä toiminnassa</p>
    <p>Jotta sivustot toimivat oikein, pidä JavaScript päällä.</p>
    <a href="/new_customer" style="margin-right: 20px;">Luo uusi asiakas</a>
    <a href="/customer_register" style="margin-right: 20px;">Asiakasrekisteri</a>
    <a href="/new_product" style="margin-right: 20px;">Luo uusi tuote/palvelu</a>
    <a href="/product_register" style="margin-right: 20px;">Tuoterekisteri</a>
    <a href="/new_invoice" style="margin-right: 20px;">Luo uusi lasku</a>
    <a href="/invoice_archive" style="margin-right: 20px;">Laskuarkisto</a>
    <a href="/to_do_list" style="margin-right: 20px;">To Do List</a>
    <a href="/sent_message" style="margin-right: 20px;">Lähetä viesti kehittäjälle</a>
    <a href="/logout" style="margin-right: 20px;">Kirjaudu ulos</a>
    {% else %}
    <h1>Tervetuloa JK laskutussovellukseen!</h1>
    <p>Sivustot ovat vielä kehitteillä.</p>
    <p>Tämä sivu on latautunut {{ counter }}. kertaa.</p>
    <a href="/login" style="margin-right: 20px;">Kirjaudu sisään tästä</a>
    <a href="/register" style="margin-right: 20px;">Luo uusi tunnus tästä</a>
    {% endif %}
  </body> 
</html> 