<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>new_customer</title>
  </head>
  <body>
    <h1>Uuden asiakkaan luonti</h1>
    <p>Sivustot ovat vielä kehitteillä.</p>
    <p>Täällä voit luoda uuden asiakkaan!</p>
    <form action="/new_customer" method="post">
    Asiakkaan/yrityksen nimi: <input type="text" name="customer_name">
    <p>
    Osoite: <input type="text" name="address">
    <p>
    Puhelinnumero: <input type="text" name="phonenumber">
    <p>
    Y-tunnus (valinnainen): <input type="text" name="business_id">
    <p>
    <input type="submit" value="Luo asiakas">
    </form>
    <nav><a href="/new_customer">Uusi asiakas</a></nav>
    <nav><a href="/">Etusivulle</a></nav>
  </body> 
</html> 

