<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>New product</title>
  </head>
  <body>
    {% if session.user_id %}
    <h1>Uuden tuotteen tai palvelun luonti</h1>
    <p>Sivustot ovat vielä kehitteillä.</p>
    <p>Täällä voit luoda uusia tuotteitaja palveluita!</p>
    <p>Kirjoita joka kenttäään jotakin. Max pituus 20 merkkiä min 1 merkki. Käytä esim. 0, jos ei tiedossa</p>
    <form action="/new_product" method="post">
    <p>Tuotteen/palvelun nimi: <input type="text" name="product_name"></p>
    <p>Tyyppi: <input type="text" name="type"></p>
    <p>Tuotenumero/tunnus: <input type="text" name="product_number"></p>
    <p>Hinta: <input type="text" name="price"></p>
    <input type="submit" value="Luo tuote">
    </form>
    <hr>
    <nav><a href="/new_product">Uusi tuote</a></nav>
    <nav><a href="/">Etusivulle</a></nav>
    {% else %}
    <h1>Tervetuloa JK laskutussovellukseen!</h1>
    <p>Sinulla ei ole oikeutta tälle sivulle, kirjaudu sisään tai luo uusi käyttäjätunnus.</p>
    <a href="/login">Kirjaudu sisään tästä</a>
    <a href="/register">Luo uusi tunnus tästä</a>
    {% endif %}
  </body> 
</html> 

