<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>new_customer</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
  </head>
  <body>
    {% if session.user_id %}
    <h1>Uuden asiakkaan luonti</h1>
    <p>Sivustot ovat vielä kehitteillä.</p>
    <p>Täällä voit luoda uuden asiakkaan!</p>
    <p>Kirjoita joka kenttäään jotakin. Max pituus 20 merkkiä min 1 merkki. Käytä esim. 0, jos ei tiedossa</p>
    <form action="/new_customer" method="post">
    <p>Asiakkaan/yrityksen nimi: <input type="text" name="customer_name"></p>
    <p>Osoite: <input type="text" name="address"></p>
    <p>Puhelinnumero: <input type="text" name="phonenumber"></p>
    <p>Y-tunnus: <input type="text" name="business_id"></p>
    <input type="submit" value="Luo asiakas">
    </form>
    <hr>
    <nav><a href="/new_customer">Uusi asiakas</a></nav>
    <nav><a href="/">Etusivulle</a></nav>
    {% else %}
    <h1>Tervetuloa JK laskutussovellukseen!</h1>
    <p>Sinulla ei ole oikeutta tälle sivulle, kirjaudu sisään tai luo uusi käyttäjätunnus.</p>
    <a href="/login">Kirjaudu sisään tästä</a>
    <a href="/register">Luo uusi tunnus tästä</a>
    {% endif %}
  </body> 
</html> 



