<!DOCTYPE html>
<html lang="FI">
<head>
    <title>Register</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
</head>
<body>
    <div class="header">
        <h1>JK Invoicing Web Application</h1>
    </div>
    <br>
    <div class="content">
        <h1>Tee uusi käyttäjätunnus!</h1>
        <p>Käyttäjätunnuksen ja salasanan max pituus on 20 merkkiä ja min 4 merkkiä.</p>
        <form action="/register" method="post" onsubmit="return check(this)">
            <label for="username">Tunnus:</label>
            <input type="text" name="username" id="username">
            <label for="password1">Salasana:</label>
            <input type="password" name="password1" id="password1">
            <label for="password2">Salasana uudestaan:</label>
            <input type="password" name="password2" id="password2">
            <input type="submit" class="button-style" value="Luo tunnus">
            <input type="hidden" name="csrf_token" value="{{ csrf_token }}">
        </form>
        <script>
            var user_names = {{ usernames | tojson}};
            function check(form) {
                if (form.username.value.length > 20) {
                    alert("Käyttäjänimi on liian pitkä");
                    return false;
                }
                if (form.username.value.length < 4) {
                    alert("Käyttäjänimi on liian lyhyt");
                    return false;
                }
                if (form.password1.value.length < 4) {
                    alert("Salasana on liian lyhyt");
                    return false;
                }
                if (form.password1.value.length > 20) {
                    alert("Salasana on liian pitkä");
                    return false;
                }
                if (form.password1.value != form.password2.value) {
                    alert("Salasanat eroavat toisistaan");
                    return false;
                }
                if (user_names.includes(form.username.value)) {
                    alert("Käyuttäjänimi on jo käytössä!");
                    return false;
                }
                return true;
            }
        </script>
    </div>
</body>
</html>