<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>remove_product</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
  </head>
  <body>
    <h1>Tuotteen/palvelun poistaminen</h1>
    {% if session.user_id %}
    <p>Sivustot ovat vielä kehitteillä.</p>
    <p>Täällä voit poistaa tuotteita/palveluita!</p>
    <p>Olet kirjautunut sisään nimellä {{ session.username }}.</p>
    <hr>
    <form action="/remove_product" method="post" onsubmit="return check(this);">
    <p>Anna poistettavan tuotteen/palvelun ID: <input type="number" name="ID"></p>
    <p><input type="submit" value="Poista tuote/palvelu"></p>
    </form>
    <script>
      var productId = {{ products_id | tojson }};
      function check(form) {
          if (form.ID.value.trim() === "") {
              alert("Anna ID numero");
              return false;
          }
          if (!productId.includes(Number(form.ID.value))) {
              alert("Tuotetta ei löydy listalta");
              return false;
          }
          alert("Tuotteen poisto onnistui!");
          return true;
      }
  </script>
    <p>Jos haluat siirtyä etusivulle, siirry tästä:</p>
    <nav><a href="/">Etusivulle</a></nav> 
    {% else %}
    <h1>Tervetuloa JK laskutussovellukseen!</h1>
    <p>Sinulla ei ole oikeutta tälle sivulle, kirjaudu sisään tai luo uusi käyttäjätunnus.</p>
    <a href="/login">Kirjaudu sisään tästä</a>
    <a href="/register">Luo uusi tunnus tästä</a>
    {% endif %}
  </body> 
</html> 